Repository VForWaTer/metacatalog, pull requests merged in 2022-07, with the labels that each got.

#159 `ResultList`
  .gitignore
  metacatalog/api/db.py
  metacatalog/test/test_api_install.py
  metacatalog/test/test_result_set.py
  metacatalog/util/location.py
  metacatalog/util/results.py
Labels: api

#178 update datasource after setting data_names
  metacatalog/ext/io/importer.py
Labels: bug

#179 Find by detail
  metacatalog/api/find.py
  metacatalog/test/test_api_add_find.py
Labels: api, tests
