Repository VForWaTer/metacatalog, pull requests merged in 2023-02, with the labels that each got.

#248 Add all Person Roles to Entry.to_dict
  metacatalog/models/entry.py
  metacatalog/models/person.py
  metacatalog/test/test_todict_fromdict.py
Labels: enhancement, api, model, tests

#255 fixes add_keywords_to_entries
  metacatalog/api/add.py
Labels: bug, api

#258 get_uuid() can return ImmutableResultSets, updates to ImmutableResultSet.uuid/uuids
  metacatalog/api/catalog.py
  metacatalog/util/results.py
Labels: enhancement

#261 explicitly add is_partial to API
  metacatalog/api/add.py
Labels: api

#264 ISO19115 basic functionalities
  .github/workflows/e2e.yml
  metacatalog/api/catalog.py
  metacatalog/ext/standards_export/__init__.py
  metacatalog/ext/standards_export/extension.py
  metacatalog/ext/standards_export/schemas/iso19115/iso19115-2.j2
  metacatalog/ext/standards_export/util.py
  metacatalog/test/test_standards_export.py
Labels: ISO19115

#279 ISO 19115 API function
  metacatalog/ext/standards_export/extension.py
  metacatalog/test/test_standards_export.py
Labels: api, ISO19115

#288 As Entry.location is nullable, Entry.location_shape can also be Null
  metacatalog/models/entry.py
Labels: model

#286 ISO export cli command
  metacatalog/ext/standards_export/extension.py
  metacatalog/ext/standards_export/util.py
  metacatalog/test/test_standards_export.py
Labels: cli, tests, ISO19115
